
@media(max-width:960px)
{

}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.holder{
    width: 1024px;
    /*height: 770px;*/
    margin: 0 auto;
    background: #fff;
    /*margin-top: 12px;*/
}

.right_show.analysis{
    height:1800px !important;
    overflow: hidden !important;

}
.login{
    background: url("../images/background.png") no-repeat;
    margin: 0 auto;
    /*width: 1024px;*/
    /*position: relative;*/
    height: 100%;
    background-size: cover;
    /*background-repeat: no-repeat;*/
}
.header{
    width: 100%;
    margin: 0 auto;
}
.header_scroll{
    background: #EEE;
    height:60px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;

}
.header_scroll h2{
    line-height: 60px;
    font-family: AndaleMono;
    word-spacing: 10px;
    letter-spacing: 1px;
    /* font-weight: bold; */
    font-size: 30px;
}
.header_text{
    margin: 0 auto;
    width: 880px;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #8A847F;
    /*border-bottom-width: 880px;*/
}
.header_text_right{
    display: inline;
    float: right;
}
.header_text_right span{
    padding-right: 30px;
    color:#333333 !important;
    font-weight: bold;

    /* display: block; */
    position: relative;

    text-align: center;
    display: inline-block;
    /* word-spacing: 10px; */
    /* letter-spacing: 6px; */

    font-size: 17px;
}

.header_text_left{
    display: inline;
}
.header_text_left span{
    font-size: 35px;
    height:30px;
    line-height: 70px;
}

.right_show .glyphicon.glyphicon-home{
    margin-top: -43px;
    font-size: 35px;
    float:right;
    padding-right: 40px;
}

.right_show .glyphicon.icon-caret-right{
    margin-top: -48px;
    font-size: 38px;
    float: right;
    padding-right: 79px;
}

.right_header span{
    font-size: 35px;
    float:right;
    padding-right: 40px;
}




.header_text img{
    height: 40px;
    width:40px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}

.content_icon{
    /*padding-top: 5%;*/
    background: #fff;
    margin: 0 auto;
    width: 880px;
    /* height: 630px; */
    /* height: 630px; */
    /*height: 60%;*/
}
.content_icon .content_icon_list{
    /* padding-top: 0%; */
    /* margin-top: 20px; */
    width: 100%;
    float: left;
    /* height: 44%; */
    margin-top: 35px;
}
.content_icon .content_icon_list li{
    width: 33%;
    float: left;
    display: block;
    /* height: 217px; */
    height: 100%;
}
.content_icon .content_icon_list>li a{
    color: #000;
    /*width: 170px;*/
    display: block;
    height: 190px;
    background-size: 135px 135px;
    background-repeat: no-repeat;
    margin: 0 auto;
    /*position: relative;*/
    background-position-x: center;
    background-position-y: top;

}
.content_icon .content_icon_list>li:first-child a{

    background-image: url("../images/cd.png");
}
.content_icon .content_icon_list>li:nth-child(2) a{
    background-image: url("../images/zhen.png");
}
.content_icon .content_icon_list>li:nth-child(3) a{
    background-image: url("../images/shouhuan.png");
}
.content_icon .content_icon_list>li:nth-child(4) a{
    background-image: url("../images/guanzhu.png");
    margin-top: 15px;
}
.content_icon .content_icon_list>li:nth-child(5) a{
    background-image: url("../images/zengzhi.png");
    margin-top: 15px;
}
.content_icon .content_icon_list>li:last-child a{
    background-image: url("../images/zuotang.png");
    margin-top: 15px;
}
.content_icon .content_icon_list.zhineng>li{


    width:25%;
}
.content_icon .content_icon_list.zhineng>li:first-child a{

    background-image: url("../images/real_s.png");
}
.content_icon .content_icon_list.zhineng>li:nth-child(2) a{
    background-image: url("../images/healthy_s.png");
}
.content_icon .content_icon_list.zhineng>li:nth-child(3) a{
    background-image: url("../images/addproduct.png");
}
.content_icon .content_icon_list.zhineng>li:nth-child(4) a{
    background-image: url("../images/delete_s.png");
    margin-top: 0px;
}

.content_icon .content_icon_list>li a span{
    font-weight: bold;
    width: 100%;
    /* display: block; */
    position: relative;
    bottom: -151px;
    text-align: center;
    display: inline-block;
    /*word-spacing: 10px;*/
    /*letter-spacing: 6px;*/
    color: #333333;
    font-size: 18px;
}



.login_panel{
    margin-left: 60px;
    width: 435px;
    /* height: 595px; */
    background: #fff;
    position: absolute;
    top: 38px;
    /* left: 72px; */
    padding-bottom: 75px;
    opacity: 0.8;
    border-radius: 20px;
}
.login_panel .panel_text{
    margin: 0 auto;
    width:340px;
    padding-top: 45px;
    padding-bottom: 20px;
    border-bottom: 2px solid #DFDDDB;
}

.panel_input{
    width: 80%;
    height: 45px;
    /*padding-top: 70px;*/
    margin: 0 auto;
}


.panel_input input {
    color: #000;
    padding-left: 20px;
    width: 100%;
    height: 45px;
    background: #fff;
    border:0;
    border-radius: 25px;
    /*border: 2px solid #DFDDDB;*/
    outline: none;
    text-indent: 0px;
    /* color: #666666; */
    font-size: 16px;
}

.panel_input.email{
    border-radius: 0px !important;
    padding-top: 70px;
    border-bottom: 2px solid #000;
    background: none;
}
.panel_input .pwd{
    border-radius: 0px !important;
    padding-top: 30px;
}
.panel_input.email input,.panel_input .pwd input{
    border-radius: 0px !important;
}

.panel_input.reg_input.mod_input input{

    padding-left: 1px;

}

.panel_input.email input {
    /*text-indent: 25px;*/
}


.panel_input.pwd input {
    border-radius: 0px !important;
    border-bottom: 2px solid #000;
    /*text-indent: 25px;*/
}
.panel_input_text{
    cursor: pointer;
    padding-top: 30px;

}
.panel_input_text span{
    color:#89847F;
}
.login_submit{
    cursor: pointer;

}
.panel_input_text span:last-child{
    float:right;
    padding-right: 65px;
}
.panel_input_text input{
    color:#89847F;
    font-size:16px;
    border: 0;
    background: #fff;
    margin-left: 65px;
}
.panel_foot {
    margin: 0 auto;
    margin-top: 65px;
    width:340px;
    /*height: 45px;*/
    background:#8A847F;
    border-radius: 25px;
}
.panel_foot .form_register{
    height:45px;
    line-height: 45px;
    width:200px;
    margin:0 auto;
    vertical-align: middle;
}
.panel_foot .form_register a{
    color:#fff;
}
.chuangdian .content_icon .content_icon_list li{
    width:24%;
}
.chuangdian .content_icon .content_icon_list{
    margin-top:160px;
}

.left_nav{
    width: 290px;
    /*height: 100%;*/
    float:left;
    background: #C6BDB5;
    /*padding-top:60px;*/
}
.reg_nav{
    width: 290px;
    height: 100%;
    float:left;
    background: #C6BDB5;
    padding-top:60px;
    position:fixed;
    top:12px;

}

.left_nav ul{
    width: 100%;

}
.right_show{
    width: 734px;
    /*background: #EEEEEE;*/
    background: #fff;
    float:right;
    overflow-y: hidden;
    overflow-x: hidden;

    /*height: 100%;*/
}

.right_show h3{
    margin:0 auto;
    text-align: center;
    background: #EEEEEE;
    padding-top: 15px;
    /* line-height: 14px; */
    padding-bottom: 15px;


}

.right_show h2 {
    margin: 0 auto;
    text-align: center;
    /*background: #EEEEEE;*/
    padding-top: 5px;
    /* line-height: 14px; */
    padding-bottom: 8px;
}

.show_detail{
    background: #fff;
    width: 732px;
    /*width: 734px;*/
    /*padding-left: 14px;*/
    /* margin-right: 40px; */
    /*height: 707px;*/
    /* margin-top: 60px; */

}
.reg_container{
    height:1280px;
    background: #c6bdb5;

}
.register{
    margin:0;
    width:100%;
    height:1223px;


}

.bir_txt.btext{
    display: block;
    margin-bottom: -82px;
    margin-left: 101px;
    font-size: 18px;
    height: 52px;
    line-height: 54px;
}

.reg_input.res input{

    /*text-indent: 26px!important;*/

}




.register p{
    text-align: center;
}
.reg_input{
    margin-bottom: 38px;
    font-size: 18px;
}
.reg_input input{
    border:2px solid #000;
    color:#000;
    font-size: 18px;

}


:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;opacity:1;
}

input:-ms-input-placeholder{
    color: #000;opacity:1;
}

input::-webkit-input-placeholder{
    color: #000;opacity:1;
}

.data_table{
    border-top: 2px solid #EEE;
    border-bottom: 2px solid #EEE;
    height: 300px;
    margin: 0 auto;
    width: 590px;
    /*overflow: hidden;*/
}
.show_detail_data h3{
    background: #fff;
    height: 65px;
    text-align: left;
    line-height: 65px;
    display: inline;
    font-weight: normal;
    padding-left: 74px;
}
.mesg h4{
    font-weight: normal;
}
.show_detail_data {
    padding-top:60px;
}
.proupdate{
    padding-top: 0;

}
.data_table{
    /*border:2px solid green;*/
}
#cd_1,#zt_1,#sh_1{
    height: 67px;
    line-height: 64px;
    padding-top: 12px;
    border-bottom: 1px solid #ddd;

}
#zt input[type=checkbox]{
    width:0;
    height:0;
    border:0;
    opacity: 0;
}

#zt span{
    font-size: 14px;
    font-weight: normal;
    margin-left: 2px;
    margin-right: 2px;
}
.xl_pic:first-child{
    margin:0 auto;
    margin-top:42px;
    width:40px;
    background-repeat: no-repeat;
    height:34px;
    background-image: url("../images/xl.png");
}
.xl_pic h4{
    padding-top: 45px;
}
.xl_line{
    background-size: 241px 90px;
    margin: 0 auto;
    margin-top: 38px;
    width: 247px;
    background-repeat: no-repeat;
    height: 89px;
    /* background-image: url(../images/60.gif); */
    /* margin-left: 10px; */
    /* padding-left: 15px; */
}
.xl_line_70{

    background-image: url(../images/70.gif) ;
}
.hxl_line{
    margin:0 auto;
    margin-top:42px;
    width:250px;
    background-repeat: no-repeat;
    height:50px;
    /*background-image: url("../images/hxl.png") !important;*/
}
.left_heart_rate{
    width: 390px;
    /* height: 100%; */
     float: left;
    /* width: 290px; */
    /* background-repeat: no-repeat; */
    height: 215px;
}
.hxl_pic{
    margin:0 auto;
    margin-top:42px;
    width:40px;
    background-repeat: no-repeat;
    height:34px;
    background-image: url("../images/hxl.png") !important;
}
.hxl_pic h4{
    display: block;
    padding-top: 50px;
    width:70px;
    margin:0 auto;
    margin-left: -8px;
}
.xl_line h4,.xl_line h2,.hxl_line h2,.hxl_line h4{
    margin-top: 100px;
    display: inline-block;
}
.xl_line h2,.hxl_line h2{
    padding-left:90px;
}
.right_breath_rate{
    width: 190px;
    /* height: 100%; */
    float: right;
    /* width: 290px; */
    /* background-repeat: no-repeat; */
    height: 215px;

}


.centerdiv {
    /* border: 2px solid green; */
    float: right;
    width: 1px;
    border-right: 1px solid #000;
    /* padding-bottom: 105px; */
    /* margin-top: -42px; */
    /* margin-right: 195px; */
    /* height: 43px; */
    position: relative;
    right: 195px;
    padding-top: 154px;
    top: 12px;
}

.heart_txt{
    background-repeat: no-repeat;
    background-image: url(../images/xl.png);
    float: left;
    width: 390px;
    height: 100px;
    line-height: 100px;

    /* background-position: left; */
    background-position: 35px 35px;

}
.heart_txt span{
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding-left: 80px;
    text-align: center;

}
.heart_pic{
    /*background-image: url(../images/60.gif);*/
    width: 390px;
    height: 120px;

    margin-top: 70px;
    background-size: 230px 82px;
    background-repeat: no-repeat;
    background-position: 35px;
}
.showHeartNumber{

    width: 100px;
    margin-top: 7px;
    height: 90px;
    float: right;

}
.showHeartNumber span:first-child{

    display: inline-block;
    line-height: 45px;
    width: 100px;
    text-align: center;
    font-size: 27px;
    height: 35px;
}
.showHeartNumber span:last-child{

    width: 100px;
    /* margin-top: 7px; */
    height: 35px;
    /* float: right; */
    line-height: 35px;
    display: inline-block;
    text-align: center;

}
.showBreathNumber{

    width: 190px;
    margin-top: 7px;
    height: 90px;
    float: right;

}
.showBreathNumber span:last-child{

    width: 190px;
    /* margin-top: 7px; */
    height: 35px;
    /* float: right; */
    line-height: 35px;
    display: inline-block;
    text-align: center;

}

.showBreathNumber span:first-child{
    display: inline-block;
    line-height:45px;
    width: 190px;
    text-align: center;
    font-size: 27px;
    height: 35px;
}


.breath_txt{
    background-repeat: no-repeat;
    background-image: url(../images/hxl.png);
    float: left;
    width: 195px;
    height: 100px;
    line-height: 100px;
    /* background-position: left; */

    background-position: 35px 35px;

}
.breath_txt span{
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    padding-left: 80px;
    text-align: center;

}
.on{
    background:#8A847F;
    background-image: url("../images/white.png");
    background-repeat :  no-repeat;
    background-position:right;
}
.left_nav .header_text{
    width:290px;
    border:0;
    /*padding-bottom:30px ;*/
}
.left_nav{
    padding-top:32px;
}
.left_nav .header_text .header_text_right{
    float: left;
    margin-left: 38%;
}
.left_nav .header_text .header_text_right img{
    height:65px;
    width:65px;
    padding:4px;
    background: #fff;
    float:left;
}
.left_nav li{
    color:#fff;
    height:45px;
    text-align: center;
    line-height: 45px;
}

.left_nav a{
    float:left;
    display:block;
    height:45px;
    width:290px;
    list-style: none;
    text-decoration: none;
}
.left_nav .header_text .header_text_right a{
    height:0;
    width:0;
    display:inline;
}
.submit_back,.submit_submit{
    color:#fff;
    width:140px;
    height: 45px;
    background:#8A847F;
    border-radius: 27px;
    display:block;
    float:left;
    margin-left:73.406px;
}
.submit_submit{
    float:right;
    margin-right:73.406px;
}
.checkService{
    margin-left:104px;
    display:block;
    font-weight: normal;
    color:#000;
    font-size:15px;
}
.form_txt{
    padding-top: 64px;
    display: block;
    font-weight: normal;
    color: #000;
    font-size: 15px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 6px;
}
.foot_btn{
    margin-top:100px;
}
.reg_select {
    color:#000;
    font-size: 18px;
    overflow: hidden;

    width: 615px;
    margin-left: 73.406px;
    background-position-x: 95%;
}
.reg_select1{
    overflow: hidden;
    background-position-x: 95%;
    width: 604px;
}
.reg_select1 select {
    display: block;
    background: transparent;
    width:587.188px;
    padding-left: 32px;
    height: 39px;
    -webkit-appearance: none; /*for chrome*/
    appearance:none;
    -moz-appearance:none;
}
.reg_select select {
    font-size: 18px;
    display: block;
    background: transparent;
    width:610.188px;
    padding-left: 32px;
    height: 49px;
    -webkit-appearance: none; /*for chrome*/
    appearance:none;
    -moz-appearance:none;
}
.sex select{
    border-radius: 27px;
    border: 2px solid #000;
    border-right: 0;
    background: url(../images/changedate.png) no-repeat right;
    background-size: 48px 48px;

}
.sex.mod_input.mod_sex select{
    background-size: 45px 45px !important;
    background-position: 54px 2px!important;
    background-position-x: 536px!important;
    cursor: pointer;
}
.ymd{
    margin-top: 31px;
    border:0;
    border-top:2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    width: 610.188px;
    /*border-right: 2px solid #000;*/
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
}



.ymd select {
    height: 45px;
    border:0;
    background: url(../images/changedate.png) no-repeat right;
    float: left;
    display: block;
    width:130px;
    background-size: 43px 43px;
}
.ymd select:first-child {
    width:139px;
    margin-left: 180px;
    /*padding-left:134px;*/
}
.ymd select:nth-child(2){
    float: left;
}

.ymd select:last-child {
    float: right;
}
.ymd1{
    display: inline-block;
    margin-top: 31px;
    width:209px;
    margin-left:50px;
    /*border-right: 2px solid #000;*/
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
}

.ymd1 select {
    font-size: 19px;
    /*background: url(../images/sleepsearchdate.png) no-repeat right;*/
    float: left;
    display: inline-block;
    width:70px;
    padding-left: 0;
    border:0;
}
.ymd1 select:last-child{
    background: url(../images/sleepsearchdate.png) no-repeat right;
}
.ymd1 select:first-child {
    width: 88px;
    padding-left: 15px;
}
.ymd1 select:nth-child(2){
    width: 50px;
}

.ymd1 select:last-child {
    /*float: left;*/
}
.two i{
    background: url(../images/arrow.png) no-repeat;
    height: 23px;
    width: 22px;
    background-position: center;
    display: inline-block;
    top: -46px;
    left: 30px;
    position: relative;
}
.times2{
    width: 209px;
    display: inline-block;
    float: right;
    margin-right: 34px;

}



.bir_txt{
    display: block;
    /* margin-bottom: -82px; */
    margin-left: 71px;
    font-size: 18px;
    /* height: 52px; */
    /* line-height: 48px; */
}

.mod_input input{
    border:0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid #000;


}
.mod_ymd{

    margin-top: 31px;
    border: 0;
    border-top: 0px solid #000;
    border-bottom: 2px solid #000;
    border-left: 0px solid #000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 583.188px;
    border-right:0px solid #000;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mod_sex select{
    border-radius: 0;
    border:0;
    border-bottom: 2px solid #000;
    color:#000;
    font-size: 18px;
    padding-left:0;
}
.concern_list{
    width:590px;
    margin:0 auto;
    /*float:left;*/
    height: 50px;

}
.concern_list li{
    cursor:default;
    width: 33%;
    float:left;
    vertical-align: middle;
    background: #F3F3F3;
    text-align: center;
    height:50px;
    line-height: 50px;
    /*border-bottom: 1px solid #ddd;*/
}

.concern_list li ul{
    /*display: none;*/
}


.concern_list span{
    font-weight: bold;
    font-size: 18px;
}
.foPwdTxt{
    margin-top: 55px;

}
.Email{
    text-align: left;
    margin-left:45px;
    margin-bottom: 35px;
}
.foPwdTxt .title.Email{
    margin-left:113px;
}
.fo input[value='Submit']{

    margin-right: 100.406px;
}
.fo input[value='Back']{

    margin-left: 100.406px;
}
.clickC{
    background-image: url("../images/clickChange.png") !important;
    border:0;
}
.show_detail_data.proupdate:first-child{
    height:300px;
}
.show_detail_data.proupdate:nth-child(2){
    /*height:360px;*/
}
.show_detail_data.proupdate:nth-child(3){
    height:400px;
}

.show_detail_data.proupdate .data_table{
    height:160px;
}

.holder.proupdate{
    height:1226px;
}

.holder.proupdate .right_show{
    /*width:734px;*/
}
.show_detail_data.proupdate:first-child,.show_detail_data.proupdate:nth-child(2){
    background-image: url("../images/bottom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;

}
.show_detail_data.proupdate .data_table{
    border:0;
}
.show_detail_data.proupdate{
    /*padding-left: 80px;*/

}
.holder.proupdate .right_show .show_detail{
    /*height:1161px;*/
}

.show_detail_data.proupdate.detail_update .data_table input[type='button']{
    background: #8A847F;
    width: 86px;
    color: #fff;
    border-radius: 24px;
    height: 30px;
    float: right;
    margin-right: 72px;
    margin-top: 0px;
    font-size: 13px;
    height: 35px;
    text-align: center;
    /* line-height: 23px; */
    margin-bottom: 6px;
    padding-bottom: 0px;
    text-align: center;
    position: relative;
    top: 19px;
}
.show_detail_data.proupdate.detail_update .data_table span {
    color: #8A847F;
    font-size: 16px;
    padding-left: 25px;
    font-weight: normal;

}
.show_detail_data.proupdate.detail_update h4:not(:first-child){
    height: 65px;
    text-align: left;
    line-height: 65px;
    padding-left: 74px;
}
.addpro{
    /* padding-left: 80px; */
    display: block;
    /* float: left; */
    width: 590px;
    border: 0;
    padding-bottom: 30px;
    height: 67px;
    line-height: 67px;
    border-bottom: 2px solid #ddd;
    margin: 0 auto;
    line-height: 330px;
    font-size: 17px;
    font-weight: normal;
}
.addpro h4{
    line-height: 60px;
}
.addpro.number{
    border-bottom: 0;
    height: 158px;
}
.addpro.number.dis{
    height:100px;
}
.foot_btn.fo.fo1{
    /*position: absolute;*/
    /*top:500px;*/
    width: 590px;
    margin: 0 auto;
    /*left:40%;*/
    padding-top: 60px;
    padding-bottom: 90px;

}
.sao{
    padding-top: 45px;
    padding-left: 80px;
}

.sao span{
    padding-left: 10px;
}
#sj{
    display: block;
    width:100%;
    height:23px;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    background-image: url("../images/time.png");
    /*margin-top: 34px;*/
}
.time span:first-child{

    float:left;padding-left:70px;padding-top: 23px
}
.time span:last-child{

    float:right;padding-right:70px;padding-top: 23px
}
.clear{
    clear:both;
    height:1px;
}
.show_detail_status{
    width: 590px;
    padding: 0;
    margin: 0;
    /*height: 340px;*/
    margin: 0 auto;
}
.status{
    height:65px;
    width:100%;
}
.status li{
    float:left;

    height:60px;
}
.block_pic{
    /*border-bottom: 1px solid #C6BDB5;*/
    border-left: 1px solid #C6BDB5;
    margin-left: 4px;
    height:116px;
    /*background-image: url("../images/onmove_block.png");*/
}
.itmes{
    /*margin-left: 40px;*/
}
.status li:first-child {
    width:16%;
    background-image: url("../images/status.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 10px;
}
.status li  span{
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
}

.status li:nth-child(4),.status li:nth-child(3),.status li:nth-child(2){
    /*padding-left: 58px;*/
    /*width:12%;*/
    /*float:right;*/
}


.status li:nth-child(5) {
    background-image: url("../images/noperson.png") !important;

    background-repeat: no-repeat;
    background-position: left;
}
.status li:nth-child(4) {
    background-image: url("../images/onmove.png") !important;
    background-repeat: no-repeat;
    background-position: left;
}


.status li:nth-child(3) {
    background-image: url("../images/onbed.png") !important;
    background-repeat: no-repeat;
    background-position: left;
}

.status li:nth-child(2) {
    background-image: url("../images/lixian.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 43px 43px;

}

#noperson1{
    background-repeat: no-repeat;
    background-position: left;
}


input[type=checkbox] {
    position: relative;
    /*width: 15px;*/
    /*height: 1px;*/
}

input[type=checkbox]::before {
    border: 3px solid #ccc;
}
input[type=checkbox]::after {
    background-color: #fff;
}
input[type=checkbox]:checked::before {
    background-image: url("../images/onmove.png") !important;
}
input[type=checkbox]:checked::after {
    background-image: url("../images/noperson.png") !important;
}

.data_table.search{
    border:0;

}

.data_table img{
    border-radius: 30%;
    vertical-align: top;
}
.search_list,.search_list1{
    margin:0 auto;
    width:590px;
    height:60px;

    line-height: 50px;
}
.newProductLists{
    width: 470px;
    vertical-align: middle;
    float: right;
    margin-top: -53px;
}
.search_list1{

    margin-bottom: -14px;
}
.search_list li,.search_list1 li{
    font-size: 18px;
    float:left;
    width:50%;
    text-align: center;
    background: #EEEEEE;
    cursor: default;
    font-weight: bold;
}
.search_time{
    width:590px;
    margin-top:25px;
}
.search_time input:first-child,.search_time input:nth-child(2),.search_time input:last-child,.search_time input:nth-child(3){
    border-radius: 25px;
    float:left;
    width:128px;
    /*margin:0;*/
    /*padding-right:50px;*/
    height:36px;
    /*margin-right: 68px;*/
    border:1px solid #333;


}
#Changetimeyear {
    /* padding-left: 12px; */
    height: 45px;
    border: 0;
    /*background: url(../images/changedate.png) no-repeat right;*/
    text-align: center;
    height: 49px;
    float: left;
    margin-left: 180px;
    width: 74px;
    padding-right: 48px;
    margin-left: 175px;
    background-size: 48px 48px;
}
#Changetimemonth{
    height: 49px;
    margin-left: 60px;
    text-align: center;
    border: 0;
    /*background: url(../images/changedate.png) no-repeat right;*/
    width: 31px;
    padding-right: 63px;
    padding-left: -2px;
    background-size: 48px 48px;


}
#changetimeyear{

    margin-left: 40px;
    text-align: center;
    /*margin: 0 auto;*/
}
#changetime{
    text-align: center;
    border-radius: 25px;
    float:left;
    width:128px;
    /*margin:0;*/
    /*padding-right:50px;*/
    height:36px;
    /*margin-right: 68px;*/
    border:1px solid #333;
    background: url(../images/sleepsearchdate.png) no-repeat right;
}
#changetimemonth{
    text-align: center;

}
#changetimesright{
     border-right: 0px solid #000!important;
     border-top-right-radius: 0px!important;
     border-bottom-right-radius: 0px !important;
     border-top: 0px solid #000!important;
     border-bottom: 0px solid #000!important;
     border-left: 0px solid #000!important;
     border-top-left-radius:0px!important;
     border-bottom-left-radius: 0px!important;
    border:0;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 25px;
    float: left;
    width: 208px;
    /* margin: 0; */
    /* padding-right: 50px; */
    height: 36px;
    /* margin-right: 68px; */
    border: 1px solid #333;
    background: url(../images/sleepsearchdate.png) no-repeat right;

}
#changetimesleft{
    border-right: 0px solid #000!important;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px !important;
    border-top: 0px solid #000!important;
    border-bottom: 0px solid #000!important;
    border-left: 0px solid #000!important;
    border-top-left-radius:0px!important;
    border-bottom-left-radius: 0px!important;
    border:0;
    border:0;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 25px;
    float: left;
    width: 209px;
    /* margin: 0; */
    /* padding-right: 50px; */
    height: 36px;
    /* margin-right: 68px; */
    border: 1px solid #333;
    background: url(../images/sleepsearchdate.png) no-repeat right;

}


#yearOfBirth{
    float: right;
    width: 74px;
    height: 49px;
    border: 0;
    text-align: center;
    background: url(../images/changedate.png) no-repeat right;
    /* float: right; */
    /* margin-left: 9px; */
    padding-left: -34px;
    padding-right: 40px;
    background-size: 48px 48px;

}

.search_timeres span{
    vertical-align: middle;
    color: #333333;
    position: relative;
    left: -65px;
    height: 45px;
    line-height: 45px;
    top: -2px;
}
.day123{
    position: relative;
    /* right: 8px; */
    left: 64px!important;
    /* top: 1px; */
    display: inline-block;
}

/*#Changetimeyear {*/
    /*!* padding-left: 12px; *!*/
    /*height: 45px;*/
    /*border: 0;*/
    /*background: url(../images/changedate.png) no-repeat right;*/
    /*text-align: center;*/
    /*height: 49px;*/
    /*float: left;*/
    /*margin-left: 180px;*/
    /*width: 149px;*/
    /*padding-right: 48px;*/
    /*margin-left: -4px;*/
    /*background-size: 48px 48px;*/
/*}*/
/*#Changetimemonth{*/
    /*height: 49px;*/
    /*margin-left: 12px;*/
    /*text-align: center;*/
    /*border: 0;*/
    /*background: url(../images/changedate.png) no-repeat right;*/
    /*width: 115px;*/
    /*padding-right: 67px;*/
    /*padding-left: -2px;*/
    /*background-size: 48px 48px;*/


/*}*/

.reg_input.reg_select1.ymd1.zhongwen span{

    vertical-align: middle;
    color: #333333;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    position: relative;
    left: 6px;
    float: left;
    /* border: 2px solid green; */
    height: 23px;
    line-height: 36px;


}


.search_time span{
    vertical-align: middle;
    color: #333333;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    position: relative;
    left: 6px;
    float: left;
    /* border: 2px solid green; */
    height: 23px;
    line-height: 36px;

}

.search_list1.table li{
    height:35px;
    width:33%;
    background: #fff;
    border:0;
    border-top:1px solid #000;
    border-right: 0;
    line-height: 35px;
}
.bottomLine{
    background: url(../images/bottom.png) no-repeat;
    background-position: center top;
    height:16px;
    width:590px;
    margin: 0 auto;
}
.search_list1.table li:nth-child(2),.search_list1.table li:nth-child(3){
    border-left:1px solid #000;
}
.report{
    /*display:none;*/
}
.reports{
    /*display:none;*/
    /*height:1670px;*/
}
.two{
    display: none;
}
.oneDayLists,.daysLists{
    /*height: 300px;*/
    width: 590px;
    margin: 0 auto;
    overflow: hidden;
}
.oneDayLists ul,.daysLists ul{
    width:590px;
    margin:0 auto;
    background: #F8F8F8;
    border-bottom: 1px solid #ddd;
    min-height: 360px;
}

.daysLists ul {
    width:590px;
    margin:0 auto;
    background: #F8F8F8;
    border-bottom: 1px solid #ddd;
    min-height: 360px;

}
.oneDayLists li,.daysLists li{
    width:110%;
    height:50px;
    font-family:华文细黑,STHeiti,MingLiu;
    font-size: 17px;
    color:#666666;
    background: #F8F8F8;
    line-height: 50px;
}

.oneDayLists li:nth-of-type(odd),.daysLists li:nth-of-type(odd) {
    /*background:#ddd;*/
}
.oneDayLists li:nth-of-type(even),.daysLists li:nth-of-type(even) {
    background:#ddd;
}


.oneDayLists li span,.daysLists li span{
    text-align: center;
    width: 30%;
    display: inline-block;
}
.subSearch{
    text-align: center;
    margin-right: 45%;
    margin-top:90px;
}
.report{
    width:590px;
    /*height:766px;*/
    background:#fff;
}
.report_detail{

    margin-top: 1px;

}
.report_detail h4,.reports_detail h4{
    display: block;
    /*border-top:2px solid #ddd;*/
    padding-top:30px;
}




.report_detail h5,.reports_detail h5{
    display: block;
    padding-bottom:30px;
}
.report_detail h4,.report_detail h5,.reports_detail h5,.reports_detail h4{
    font-weight: bold;
    text-align: center;
    font-family:华文细黑,STHeiti,MingLiu;
}

.circle{
    height:160px;
    width:590px;
}
.rep{
    height:970px;
}

.rep .show_detail{
    height:825px;
    background: #fff;
}
.circle ul{
    width:100%;
}
.circle ul li{
    float:left;
    width:20%;
    height:170px;
    text-align: center;
}

.circle ul li:first-child{
    background: url(../images/healthy_report_xl.png) no-repeat;
    background-position: top;
    background-size: 66px 66px;
}
.circle ul li:nth-child(2){
    background: url(../images/healthy_report_hxl.png) no-repeat;
    background-size: 66px 66px;
    background-position: top;
}
.circle ul li:nth-child(3){

}
.circle ul li:nth-child(4){
    background: url(../images/healthy_report_fs.png) no-repeat;
    background-position: top;
    background-size: 66px 66px;
}
.circle ul li:nth-child(5){
    background: url(../images/healthy_report_qy.png) no-repeat;
    background-position: top;
    background-size: 66px 66px;
}
.circle ul li span{
    width:60px;
    font-size: 15px;
    font-weight:bold;
    color:#fff;
    font-family:华文细黑,STHeiti,MingLiu;

}
.circle ul li span:first-child{
    display:inline-block;
    text-align: center;
    position: relative;
    top:20px;
    left:0px;
}
.circle ul li span:nth-child(2){
    display:inline-block;
    text-align: center;
    position: relative;
    top:10px;
    left:0px;

}
.circle ul li .pf{
    display: inline-block;
    text-align: center;
    position: relative;
    top: -56px!important;
    left: 5px!important;
    color: black!important;
    width: 112px !important;
    font-size: 18px;
}

.circle ul li span:nth-child(3){
    display:inline-block;
    text-align: center;
    position: relative;
    top:34px;
    left:0px;
    width:110px;
    color:#000;
}

.line{
    height:415px;
    background:#F8F8F8;
}
.line ul{
    width:590px;
}
.line ul li{
    height:70px;
}

.line ul li:first-child{
    /*background: url(../images/healthy_report_qy.png) no-repeat;*/
}

.line ul li:first-child{
    height: 99px;

}
.line ul li i{
    display:block;
    height:50px;
    width:50px;
}
.line ul li i:first-child{
    /* float: left; */
    /* background: url(../images/healthy_line1_shang.png) no-repeat; */
    position: relative;
    left: 15px;
    top: 6px;
    float: left;
    background: url(../images/healthy_line1_shang.png) no-repeat;
    z-index: 3;
    border-radius: 30px;
    background-size: 49px 49px;
}
.line ul li i:last-child{
    position: relative;
    left: 0px;
    top: 2px;
    float: right;
    background: url(../images/healthy_line1_shang.png) no-repeat;
    background-size: 49px 49px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

article {
    position: relative;
    /*padding: 0 5em;*/
    /*border: 1px solid #BED194;*/
    /*margin-bottom: 3em;*/
    border-radius: 5px;
}

article:hover {
    border-color: #499989;
}

article:first-child {
    /*margin-top: 3em;*/
    margin-top: -12px;
}

article .title {
    position: absolute;
    left: 10px;
    top: -32px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
}

@media (max-width: 960px) {
    .container {
        width: 90%;
    }

    article {
        padding: 0 2em;
    }
}


#sample-pb{
    width: 522px;
    height: 50px;
    float: left;
    padding: 0;
    margin-left: -33px;
    z-index: 2;
    position: relative;
}


.line ul li i span{
    display: inline-block;
    height: 24px;
    width: 40px;
    line-height: 14px;
    padding-left: -5px;
    color: #000;
    font-weight: normal;
    font-size: 12px;
    position: relative;
    top: 10px;
    left: 9px;
}

#indicatorContainer4{
    margin-top:-15px;
}

.reports_detail span{

    float:right;

}


.reports_detail span i:first-child{

    background: url(../images/healthy_reports_highest.png) no-repeat;
    background-position: left;
    width: 114px;
    display: inline-block;
    padding-left: 18px;
}
.reports_detail span i:nth-child(2){

    background: url(../images/healthy_reports_average.png) no-repeat;
    background-position: left;
    width:102px;
    display: inline-block;
    padding-left: 18px;
}
.search_list.reportslist li{

    cursor: default;
}

.reports_detail span i:last-child{
    width: 114px;
    display: inline-block;
    padding-left: 18px;
    background: url(../images/healthy_reports_lowest.png) no-repeat;
    background-position: left;
}
.statistics-table0,.statistics-table1,.statistics-table2,.statistics-table3{
    background: url(../images/bottom.png) no-repeat;
    background-position: bottom;
    padding-bottom: 25px;

}

.amcharts-main-div{
    border:2px solid #ddd;
    border-radius: 12px;
    border-bottom: 0;
    /*border-bottom-left-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
}
.statistics_table p{
    position: relative;
    /* margin: 0 0 10px; */
    bottom:-87px;
    left: 80px;
    font-weight: bold;
}


.panel_input.item0_input{
    height:250px;
    width:590px;
}
.panel_input.item0_input input[type='email']{
    margin-top: 150px;
    width:400px;
    margin-left: 37px;
}
.panel_input.item0_input input[type='button']{
    background: url(../images/concern_item0_search.png) no-repeat;
    width: 70px;
    background-position: right;
    height: 50px;
    border: 0;
    display: inline-block;
    position: relative;
    top: 21px;
}
.concern0{
    /*height: 250px;*/
    border-bottom: 1px solid #ddd;
    width:590px;
    margin:0 auto;
}
.concern2,.concern1{
    display: none;
}
.detail_pic img{

    height: 65px;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}
.detail_pic{
    padding-left: 90px;
    margin-top: 40px;
    width:320px;

    display:inline-block;

}
.detail_pic a{
    display:inline-block;
    width:65px;
    height:65px;

}
.detail_pic p{

    padding-bottom: 52px;
    padding-left: 94px;
    margin-top: -40px;
}

.detail_btn{
    display: inline-block;
}
.detail_btn .submit_back,.detail_btn .submit_submit{
    width: 90px;
    /* float: left; */
    position: relative;
    top: -106px;
    left: 368px;
}
.detail_btn .submit_submit{
    left: 84px;
}
.detail_btn .submit_back{
    top: -107px;
}

.detail_pic{
    width:568px;
    margin: 0 auto;
    margin-top: 20px;
}

.item1_product_list{
    width:590px;
    height:auto;
}
.item1_product_list ul{
    width:100%;
    margin-top: -43px;
    padding-bottom: 17px;
}
.item1_product_list ul li{
    padding-bottom: 15px;
    padding-left: 95px;
    width:100%;
}

.item1_product_list ul li a{
    text-align: center;
    border-radius: 35px;
    background: #8A847F;
    height: 25px;
    width:135px;
    color:#fff !important;
    line-height: 23px;
    font-weight: normal;
    text-decoration: none;
}
.item1_product_list ul li span{
    font-weight: bold;
    font-size: 16px;
    width: 174px;
    display: inline-block;
    padding-left: 10px;
}


.concern_item1 .detail_pic .header_pic .itme1_arrow{


}
.concern_someone_detail .detail_pic{

    padding-left: 0;
}

.concern_item1 .detail_pic .header_pic .name,.concern_item2 .detail_pic .header_pic .name{
    font-weight: bold;
    font-size: 16px;
    width: 140px;
    display: inline-block;
    padding-left: 10px;
}
.concern_item1 .detail_pic .header_pic .email,.concern_item2 .detail_pic .header_pic .email{
    font-weight: normal;
    font-size: 16px;
    width: 109px;
    display:inline-block;
    font-family:华文细黑,STHeiti,MingLiu;
}

.concern_item1 .detail_pic .header_pic .itme1_arrow{
    display: inline-block;
    height:11px;
    width:23px;
    background: url(../images/concern_item1_arrowup.png) no-repeat;
}
.itme2_arrow{
    display: inline-block;
    height:11px;
    width:23px;
    background: url(../images/concern_item1_arrowdown.png) no-repeat;
}
.concern_item1{
    margin-bottom: -20px;
    background: url(../images/bottom.png) no-repeat;
    background-position: bottom;
    /*margin-bottom: -45px;*/
}
.concern_item2{
    margin-bottom: -20px;
    background: url(../images/bottom.png) no-repeat;
    background-position: bottom;
}
.itme1_rabish{
    /*border: 1px solid;*/
    display: inline-block;
    height: 42px;
    width: 78px;
    background: url(../images/concern_rabish.png) no-repeat;
    position: relative;
    top: -50px;
    left: 475px;
    padding-left: 21px;
    padding-right: -19px;
    /* background-position: inherit; */
    background-position-x: 33px;

}
.concern_item1{
    cursor:pointer !important;

    /*margin-bottom: -45px;*/
}
.concern_item2{
    cursor:pointer;
    /*margin-bottom: -45px;*/
}
.number-pb-shown .icon_sleepright{
    display: inline-block;
    height: 52px;
    width: 42px;
    background: url(../images/healthy_lin2_sleepdeep.png) no-repeat !important;
    margin-top: -15px;
    /* margin-left: 34px; */
    /*padding-left: 7px;*/
    line-height: 42px;
    color:#fff;
    display: flex;
    align-items: top;
    justify-content: center;
}
.time_confirm,.time_confirms{
    /* border: 2px solid yellow; */
    float: right;
    width: 85px;
    display: inline-block;
    margin-top: -76px;
    color: #fff;
    height: 40px;
    background: #8A847F;
    border-radius: 27px;
    /* float: left; */
    /* margin-left: 73.406px; */
}
.time_confirms{
    margin-top: 33px;
}
.submit_submit.back{
    float: none;
    width: 130px;
    margin: 0 auto;
}
.data_table img{
    width:118px;
    height:118px;
}
.concern201{
    /*background: url(../images/bottom.png) no-repeat;*/
    /*background-position: bottom;*/
    /*background-size: 590px 20px;*/
    padding-bottom: 16px;
}
.concern201 h4,.concern202 h4{
    border-bottom: 2px solid #8A847F;
    padding-bottom: 10px;
    margin-left: 73px;
width:153px;


}
.concern201 h4{
    height: 40px;
    /*line-height: 40px;*/
    line-height: 60px;
}
/*.concern202 h4{*/
    /*width: 75px;*/

/*}*/
.num{
    background: url(../images/concern2_messageNum.png) no-repeat !important;
    display: inline-block;
    height: 23px;
    width: 24px;
    vertical-align: middle;
    margin-left: 8px;
    background: url(../images/concern2_messageNum.png) no-repeat !important;
}

.num span{
    position: relative;
    top: -14px;
    left: -2px;
    color:#fff;
}
.numberlists{

    min-height: 200px;
    width:100%;
    overflow-y: scroll;
    overfloo-x:hidden;


}

.numberlists li{

    padding-left: 63px;
    font-size: 18px;
    list-style: none;
    font-weight: normal;

}
.cancel{
    position: relative;
    display: inline-block;
    float: right;
    top: -54px;
    right: -125px;
}
.cancel input{
    color: #fff;
    width: 77px !important;
    height: 36px;
    background: #8A847F;
    border-radius: 24px;
    display: block;
    float: left;
    margin-right: 37px;
    margin-left: -3px !important;


}
.cancel   .submit_back{
    color: #fff;
    width: 81px;
    height: 37px;
    background: #8A847F;
    border-radius: 25px;
    display: block;
    /*float: right;*/
    margin-right: 37px;
    border: 0;
}
.cancel  .submit_submit{
    margin-right: 22px;
    color: #fff;
    width: 81px;
    height: 37px;
    background: #8A847F;
    border-radius: 25px;
    display: block;
    /* float: right; */
    margin-left: -54px !important;
    border: 0;
}
.select_picture{
    border-bottom: 2px solid #fff;
    width: 178px;
    margin: 0 auto;
}
.data_table.real_table{
    height: 215px;

}
.pointer{

    cursor: pointer;

}
.home{
    background: url(../images/home.png) no-repeat !important;
    display: block;
    height: 30px;
    width: 33px;
    position: relative;
    top: -42px;
    float: right;
    right: 78px;
}
.titl{
    line-height: 60px;
    font-family: AndaleMono;
    word-spacing: 10px;
    letter-spacing: 1px;
    /* font-weight: bold; */
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    background: #EEE
}